body{
  background-color: hsl(209, 100%, 87%);

}

#border{
  background-color: hsl(358, 98%, 33%);
  position: absolute;
  padding: 50px;
  left: 50%;
  margin-left: -530px;
  top: 25px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 3px hsla(0, 0%, 0%, 0.44);
}


#container{
  width:960px;
  height: 480px;
  border: solid rgb(171,1,4) 1px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.box{

  background-color: white;
  border: solid 1px hsl(0, 0%, 96%);
  box-sizing: border-box;
  float: left;;
}

.knobby{
  position: absolute;
  background-color: hsl(0, 0%, 92%);
  bottom:10px;
  border-radius: 50%;
  height:45px;
  width: 45px;
  box-shadow: 4px 4px 2px hsla(0, 0%, 0%, 0.44);
}

#leftKnobby{
  left:10px;
}

#rightKnobby{
  right:10px;
}



#itMustBeGold{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -100px;
  font-size: 30px;
  color: gold;
  font-family: 'Pacifico', monospace;
  transform: scale(1.8,1);
}

#shake{
  background-color: hsla(0, 0%, 33%, 0.15);
  border: 1px solid hsla(0, 0%, 33%, 0.15);
  color: hsla(209, 100%, 87%, 0.45);
  font-family:arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  bottom: 10px;
  left:50%;
  width: 140px;
  height: 30px;
  margin-left: -70px;
  overflow: hidden;
}

.leftButton{
  border-radius: 50%;
  position: absolute;
  left:35px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

#gridSize{
  background-image:url('https://raw.githubusercontent.com/Ace-Cassidy/Sketchpad/master/images/grid.png');
  top: 35px;
}

#rainbow{
  background-image:url('https://raw.githubusercontent.com/Ace-Cassidy/Sketchpad/master/images/rainbow.png');
  top: 105px;
}

#shading{
  background-image:url('https://raw.githubusercontent.com/Ace-Cassidy/Sketchpad/master/images/shade.png');
  border: 1px solid black;
  top: 175px;
}
