

#container{
  position: fixed;
  left: 50%;
  margin-left: -480px;
  margin-top: 60px;
  width:960px;
  height: 480px;
  border: solid red 1px;
}

.box{

  background-color: white;
  border: solid 1px hsl(0, 0%, 81%);
  box-sizing: border-box;
  float: left;;
}
